@keyframes bounce-up {
    0% {
        transform: translateY(100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes bounce-up {
    0% {
        -webkit-transform: translateY(100vh);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-moz-keyframes bounce-up {
    0% {
        -moz-transform: translateY(100vh);
        opacity: 1;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes bounce-down {
    0% {
        transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes bounce-down {
    0% {
        -webkit-transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-moz-keyframes bounce-down {
    0% {
        -moz-transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes bounce-left {
    0% {
        transform: translateX(100vw);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes bounce-left {
    0% {
        -webkit-transform: translateX(100vw);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}
@-moz-keyframes bounce-left {
    0% {
        -moz-transform: translateX(100vw);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(0);
        opacity: 1;
    }
}
@keyframes bounce-right {
    0% {
        transform: translateX(-100vw);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes bounce-right {
    0% {
        -webkit-transform: translateX(-100vw);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}
@-moz-keyframes bounce-right {
    0% {
        -moz-transform: translateX(-100vw);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(0);
        opacity: 1;
    }
}