@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-20px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}
@-moz-keyframes float {
    0% {
        -moz-transform: translateY(0px);
    }
    50% {
        -moz-transform: translateY(-20px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}